<a href="https://colab.research.google.com/github/dinhquy-nguyen-1704/Weekly-exercise/blob/main/Data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### EXERCISE 1

In [ ]:
def max_in_window( num_list , k = 3):
    max_lst = []
    if k <= len(num_list):
      for i in range(len(num_list) - k + 1):
        max_i = max(num_list[i:(i+k)])
        max_lst.append(max_i)
    else :
      max_lst.append(max(num_list))
    return max_lst

test = [3, 4, 5, 1, -44]
assert max_in_window(num_list = test, k = 3) == [5 , 5 , 5]

num_list = [3, 4, 5, 1, -44, 5, 10, 12, 33, 1]
print(max_in_window(num_list = num_list, k = 3))

[5, 5, 5, 5, 10, 12, 33, 33]

###EXERCISE 2

In [ ]:
def intersection(lst1, lst2):
  lst = []
  for i in list(set(lst1)):
    for j in list(set(lst2)):
      if i == j:
        lst.append(i)
  
  return lst

test_list1 = [4 , 9]
test_list2 = [9 , 2]
assert intersection (lst1 = test_list1, lst2 = test_list2) == [9]

num_list1 = [4, 9, 5]
num_list2 = [9, 4, 9, 8, 4]
intersection(num_list1, num_list2)

[9, 4]

###EXERCISE 3

In [ ]:
def count_chars(inp_str):

  count = {}
  for i in inp_str:
    count[i] = count[i] + 1 if (i in count) else 1

  return count

test_string = 'Happiness'
assert count_chars(inp_str = test_string) == {'H': 1, 'a': 1, 'p': 2, 'i': 1, 'n': 1, 'e': 1, 's': 2}

string = 'smiles'
count_chars(string)

{'s': 2, 'm': 1, 'i': 1, 'l': 1, 'e': 1}

###EXERCISE 4

In [ ]:
! gdown https://drive.google.com/uc?id=1IBScGdW2xlNsc9v5zSAya548kNgiOrko
def count_words(file_path):

  with open(file_path) as rf:
    l_strip = [s.strip() for s in rf.readlines()]
    
  str = []
  for line in l_strip:
    str += line.split(" ")
  new_str = [n.lower() for n in str]

  count = {}
  for i in new_str:
    count[i] = count[i] + 1 if (i in count) else 1
 
  return count

file_path = 'P1_data.txt'
assert count_words(file_path)['success'] == 3

file_path ='P1_data.txt'
count_words(file_path)["man"]

Downloading...
From: https://drive.google.com/uc?id=1IBScGdW2xlNsc9v5zSAya548kNgiOrko
To: /content/P1_data.txt
100% 747/747 [00:00<00:00, 3.15MB/s]

6

In [ ]:
# EXERCISE 6
data ="I'm learning Python!"
print (data.split()[1])

learning

In [ ]:
# EXERCISE 7
def check_the_number(N):
  list_of_numbers = []
  result = ""
  for i in range(1, 5):
    list_of_numbers.append(i)

  if N in list_of_numbers:
    results = "True"
  if N not in list_of_numbers:
    results = "False"
  return results

N = 7
assert check_the_number(N) == "False"

N = 2
results = check_the_number(N)
print(results)

True

In [ ]:
# EXERCISE 8
data = "my list : [ 1 , 2 , [3 , 4]]"
print(type(data))

<class 'str'>

In [ ]:
# EXERCISE 9
"Eiffel" > "Apple"

True

In [ ]:
# EXERCISE 10
n = 0
for i in range (5) :
  n += i
  if n > 0 and n %3 == 0:
    break
print(n)

3

In [ ]:
# EXERCISE 11
space1 = "Cherry Blossom After Winter"
space2 = "Flowers are blooming on the hillsides, which signals the coming of spring"
space = space1 + space2
print(space[-6:])

spring

In [ ]:
# EXERCISE 12
my_list = [0 , 1 , 1 , 2 , 1]
odd = 1
even = 0

for number in my_list :
  if number % 2 == 0:
    odd += number
  else:
    even += number
print ( f"odd:{ odd}, even:{ even }")

odd:3, even:3

In [ ]:
# EXERCISE 13
weather = '@the drizzle in spring makes the air more humid. @@'
me = "i love iT!"

txt = weather.strip('@').capitalize() + me.title()
print(txt)

The drizzle in spring makes the air more humid. I Love It!

In [ ]:
# EXERCISE 15
my_exam = "Under the drizzle , the flower field seems covering with the glitter water drops!"
print(my_exam.strip('!').split())

['Under', 'the', 'drizzle', ',', 'the', 'flower', 'field', 'seems', 'covering', 'with', 'the', 'glitter', 'water', 'drops']

In [ ]:
# EXERCISE 16
my_string = "Peach blossoms bloom in spring"
my_bag_of_word = []
for element in my_string :
  if element not in my_bag_of_word :
    my_bag_of_word.append(element)
print(my_bag_of_word)

['P', 'e', 'a', 'c', 'h', ' ', 'b', 'l', 'o', 's', 'm', 'i', 'n', 'p', 'r', 'g']

In [ ]:
# EXERCISE 17
my_string = "My name is Tom"
results = my_string.count('m')

print(results)

2

In [ ]:
# EXERCISE 18
even_numbers = [ x for x in range (1 , 5) if x % 2 == 0]
print(even_numbers)

[2, 4]

In [ ]:
# EXERCISE 19
X = [[1 , 1], [2 , 2]]

result = [[0 ,0], [0 ,0]]

for i in range (len(X)):
  for j in range (len(X[0])):
    result[j][i] = X[i][j]

for r in result :
  print(r)

[1, 2]
[1, 2]

In [ ]:
# EXERCISE 20
def my_function(my_data):
  rs = 0
  for i in my_data:
    rs = rs + i
  return rs

my_list = [1 , 2 , 3]
print(my_function(my_data = my_list))

6

In [ ]:
# EXERCISE 21
def my_function ( my_data ):
  result = []
  for element in data :
    if element not in result :
      result.append(element)
  return result

data = [ {'id ': 'M12'} , 10 , 20 , 30]
print(my_function(data))

[{'id ': 'M12'}, 10, 20, 30]

In [ ]:
# EXERCISE 22
def my_function(data, max, min):
  result = []
  for i in data:
    if i < min:
      result.append(min)
    elif i > max:
      result.append(max)
    else:
      result.append(i)
  return result

my_list = [5 , 2 , 5 , 0 , 1]
max = 1
min = 0
assert my_function (max = max, min = min, data = my_list ) == [1 , 1 , 1 , 0 , 1]
my_list = [10 , 2 , 5 , 0 , 1]
max = 2
min = 1
print(my_function(max = max, min = min, data = my_list))

[2, 2, 2, 1, 1]

In [ ]:
# EXERCISE 23
def my_function(x, y):
 x.extend(y)
 return x

list_num1 = ['a', 2, 5]
list_num2 = [1, 1]
list_num3 = [0, 0]

assert my_function(list_num1, my_function(list_num2, list_num3)) == ['a', 2, 5, 1, 1, 0, 0]

list_num1 = [1, 2]
list_num2 = [3, 4]
list_num3 = [0, 0]

print(my_function(list_num1, my_function(list_num2, list_num3)))

[1, 2, 3, 4, 0, 0]

In [ ]:
# EXERCISE 24
def my_function(n):
  return min(n)

my_list = [1, 22, 93, -100]
assert my_function(my_list) == -100

my_list = [1, 2, 3, -1]
print(my_function(my_list))

-1

In [ ]:
# EXERCISE 25
def my_function(n):
  return max(n)

my_list = [1001, 9, 100, 0]
assert my_function(my_list) == 1001

my_list = [1, 9, 9, 0]
print(my_function(my_list))

9

In [ ]:
# EXERCISE 26
def My_function(integers, number = 1):
  return any([bool(i == number) for i in integers])

my_list = [1, 3, 9, 4]
assert My_function(my_list, -1) == False

my_list = [1, 2, 3, 4]
print(My_function(my_list, 2))

True

In [ ]:
# EXERCISE 27
def my_function(list_nums = [0, 1, 2]):
  var = 0 
  for i in list_nums:
    var += i
  return var/len(list_nums)

assert my_function([4, 6, 8]) == 6
print(my_function())

1.0

In [ ]:
# EXERCISE 28
def my_function(signal1, signal2):
  var = False
  for s1 in signal1:
    for s2 in signal2 :
      if s1 == s2:
        var = True
        return var
print(my_function([1 , 1 , 1], [2 , 2 , 2]))

None

In [ ]:
# EXERCISE 29
def my_function(signal1, signal2):
  var = False
  for s1 in signal1 :
    for s2 in signal2 :
      if s1 == s2 :
        var = True
  return var
print(my_function([1 , 2 , 3], [2 , 2]))

True

In [ ]:
# EXERCISE 30
def my_function(data):
  var = []
  for i in data:
    if i%3 == 0:
      var.append(i)
  return var

assert my_function([3, 9, 4, 5]) == [3, 9]
print(my_function([1, 2, 3, 5, 6]))

[3, 6]

In [ ]:
# EXERCISE 31
def my_function(x):
  for i in range(x):
    for j in range(x):
      if i == j:
        print("1 ", end =" ")
      else:
        print("0 ", end =" ")
    print()

my_function(2)

1  0
0  1

In [ ]:
# EXERCISE 32
def my_function(y):
  var = 1
  i = 1
  while (y > 1):
    var *= i
    i += 1
    if i > y:
      break
  return var
  
assert my_function(8) == 40320
print (my_function(4))

24

In [ ]:
# EXERCISE 33
def my_function(signal):
  var = True
  while var:
    var = False
    for i in range(len(signal) - 1):
      if signal[i] > signal[i + 1]:
        signal[i], signal[i + 1] = signal[i + 1], signal[i]
        var = True

my_signal = [1 , 2 , 3 , 0]
my_function( my_signal)
print(my_signal)

[0, 1, 2, 3]

In [ ]:
# EXERCISE 34
def sum_function(num1, num2):
  '''
  Sum of two numbers
  input: num1, num2
  output: num1 + num2
  '''
  return num1 + num1

print( sum_function.__doc__ )

  Sum of two numbers
  input: num1, num2
  output: num1 + num2

In [ ]:
# EXERCISE 35
def my_function(x):
  return x[::-1]

x = 'I can do it'
assert my_function(x) == "ti od nac I"

x = 'apricot'
print(my_function(x))

tocirpa

In [ ]:
# EXERCISE 36
def function_helper(x):
  return "T" if x > 0 else "N"

def my_function(data):
  res = [function_helper(x) for x in data]
  return res

data = [10, 0, -10, -1]
assert my_function(data) == ['T', 'N', 'N', 'N']

data = [2, 3, 5, -1]
print(my_function(data))

['T', 'T', 'T', 'N']

In [ ]:
# EXERCISE 37
def function_helper(x, data):
  for i in data:
    if i == x:
      return 0
  return 1

def my_function(data):
  res = []
  for i in data:
    if function_helper(i, res):
      res.append(i)

  return res

lst = [10, 10, 9, 7, 7]
assert my_function(lst) == [10, 9, 7]

lst = [9, 9, 8, 1, 1]
print(my_function(lst))

[9, 8, 1]